@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: hsl(210, 46%, 95%);
  --white-color: hsl(0, 0%, 100%);
  --white-color1: hsl(0, 0%, 81%);
  --dark-purple: hsl(263, 55%, 52%);
  --grayish-blue: hsl(217, 19%, 35%);
  --blackish-blue: hsl(219, 29%, 14%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --light-gray: hsl(0, 0%, 81%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

/* Hidden h1 */
.hidden {
  display: none;
}

p.name,
p.description {
  font-size: 0.81rem;
}

p.status {
  font-size: 0.68rem;
}

p.experience {
  font-size: 1.25rem;
  font-weight: 600;
}

.main__content {
  max-width: 23.44rem;
  padding: 4rem 2rem;
}

/* Card styles */
.card {
  border-radius: .7rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.card__purple {
  background-color: var(--dark-purple);
}

.card__grayish-blue {
  background-color: var(--grayish-blue);
}

.card__blackish-blue {
  background-color: var(--blackish-blue);
}

.card__white {
  background-color: var(--white-color);
}

/* Font color for cards with light background */
.card:not(.card__blackish-blue):not(.card__grayish-blue):not(.card__purple) {
  color: var(--grayish-blue);
}

/* Font color for cards with dark background */
.card:not(.card__white) {
  color: var(--white-color);
}